[Main]
export_ip_file = True
Verbose = True
log_write = True
zb_file = True
bind = True
nginx = True
dns_server = 8.8.8.8
max_url_check = 50
# по каким словам или ключам определять страницу блокировки, несколько значений разделяем симоволом "|"
find_words = <img src="http://vh-group.net/images/logo.jpg" align="middle" alt="VHG"></center> | asd
# Время ожидания ответа при проверке блокировки
check_timeout = 5


[URLS]
API_URL = http://vigruzki.rkn.gov.ru/services/OperatorRequest/?wsdl
STOP_URL = 302:http://zapret.example.net
nginx_stop_url = http://zapret.example.net

[DBConfig]
dbHost = localhost
dbUser = edr
dbName = edr
dbPassword = 123

[Dirs]
XML_FILE_NAME = zapros.xml
SIG_FILE_NAME = zapros.xml.sign
dumpFormatVersion = 2.0
path_IP_file = edr_ipfile.txt
filelog = edr.log
zabbix_status_file = zb_status
bind_file = bind_file.conf
zb_check_file = zb_check_status
bind_block_file = /etc/namedb/master/bind_edr_block
nginx_conf_file =/usr/share/edr/nginx_edr.conf
